
@model ProgrammeringAPL.Models.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/forms.css?v=1.0">
    
</head>


<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data" id="project-create-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>



   
    <div id="technologies" class="form-group">
        <div id="technologies" >
            <label asp-for="Technologies"></label>
            @for (int i = 0; i < Model.Technologies.Count; i++)
            {
                @Html.Partial("_TechnologyEditor", Model.Technologies[i])
            }
        </div>
        <button type="button" class="btn btn-primary" id="add-technology">Add Tech</button>
    </div>


    <div id="tags" class="form-group">
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <label asp-for="Tags"></label>
            <div class="tag-item">
                <input asp-for="Tags[@i].Name" class="form-control" placeholder="Tag Name" />
                <span asp-validation-for="Tags[@i].Name" class="text-danger"></span>
                <button type="button" class="btn btn-danger remove-tag">Remove</button>
            </div>
        }
        <button type="button" class="btn btn-primary" id="add-tag">Add Tag</button>
    </div>



    <div id="gallery" class="form-group">
        @for (int i = 0; i < Model.Gallery.Count; i++)
        {
            
            <div class="gallery-item">
                <label>Image File</label>
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input asp-for="Gallery[@i].ImageFile" type="file" id="file-upload" class="file-input" />
                <span asp-validation-for="Gallery[@i].ImageFile" class="text-danger"></span>

                <label>Caption</label>
                <input asp-for="Gallery[@i].Caption" class="form-control" />

                <button type="button" class="btn btn-danger remove-gallery">Remove</button>
            </div>
        }
        <button type="button" class="btn btn-primary" id="add-gallery">Add Image</button>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>

<div>
    <a class="button" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        
        $(document).ready(function () {
          
            $('#add-technology').click(function () {
                var index = $('#technologies .technology-item').length;
                var template = `
                            <div class="technology-item">
                                <input name="Technologies[` + index + `].Name" class="form-control" placeholder="Technology Name" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="Technologies[` + index + `].Name" data-valmsg-replace="true"></span>
                                <button type="button" class="btn btn-danger remove-technology">Remove</button>
                            </div>`;
                $('#technologies').append(template);
            });

            $(document).on('click', '.remove-technology', function () {
                $(this).parent().remove();
             
            });

         
            $('#add-tag').click(function () {
                var index = $('#tags .tag-item').length;
                var template = `
                            <div class="tag-item">
                                <input name="Tags[` + index + `].Name" class="form-control" placeholder="Tag Name" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="Tags[` + index + `].Name" data-valmsg-replace="true"></span>
                                <button type="button" class="btn btn-danger remove-tag">Remove</button>
                            </div>`;
                $('#tags').append(template);
            });

            $(document).on('click', '.remove-tag', function () {
                $(this).parent().remove();
            });

      
            $('#add-gallery').click(function () {
                var index = $('#gallery .gallery-item').length;
                var template = `
                <div class="gallery-item">
                    <label>Image File</label>
                    <input name="Gallery[` + index + `].ImageFile" type="file" class="form-control" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Gallery[` + index + `].ImageFile" data-valmsg-replace="true"></span>

                    <label>Caption</label>
                    <input name="Gallery[` + index + `].Caption" class="form-control" placeholder="Caption" />

                    <button type="button" class="btn btn-danger remove-gallery">Remove</button>
                </div>`;
                $('#gallery').append(template);
            });
        });
    </script>
}



