
@model ProgrammeringAPL.Models.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Create"; // Sätter sidans titel
}




<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data" id="project-create-form">
    
    @* <div asp-validation-summary="All" class="text-danger"></div><!-- Visar valideringsfel som uppstår i formuläret --> *@
    
    <!-- Titel på projektet -->
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span> <!-- Visar eventuella valideringsfel för titel -->
    </div>
    
    
    <!-- Beskrivning av projektet -->
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>

        <span asp-validation-for="Description" class="text-danger"></span>
    </div>



    <!-- Teknologier relaterade till projektet -->
    @* <div @* id="technologies"  class="form-group"> *@
    <div id="technologies" class="form-group">
            <label asp-for="Technologies"></label>
            @for (int i = 0; i < Model.Technologies.Count; i++)
            {
                @Html.Partial("_TechnologyEditor", Model.Technologies[i]) <!-- Delvy för att redigera varje teknologi -->
            }
        <button type="button" class="btn btn-primary" id="add-technology">Add Tech</button>
        </div>
        


    <!-- Taggar för projektet -->
    <div class="form-group" id="tags">
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags[@i].Name" class="form-control" placeholder="Tag Name" />
                <span asp-validation-for="Tags[@i].Name" class="text-danger"></span>
                @* <button type="button" class="btn btn-danger remove-tag">Remove</button> *@
                <button type="button" class="btn btn-primary" id="add-tag">Add Tag</button>
            </div>
        }
        
    </div>


    <!-- Bildgalleri för projektet -->
    <div id="gallery" class="form-group">
        @for (int i = 0; i < Model.Gallery.Count; i++)
        {
            
            <div class="gallery-item">
                <label>Image File</label>
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input asp-for="Gallery[@i].ImageFile" type="file" id="file-upload" class="file-input" />
                <span asp-validation-for="Gallery[@i].ImageFile" class="text-danger"></span>

                <label>Caption</label>
                <input asp-for="Gallery[@i].Caption" class="form-control" />

                @* <button type="button" class="btn btn-danger remove-gallery">Remove</button> *@
                <button type="button" class="btn btn-primary" id="add-gallery">Add Image</button>
            </div>
        }
        
    </div>
    <!-- Formulärknapp för att skicka in projektet -->
    <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>

<div>
    <a class="button" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        <!-- Lägg till valideringsskript -->

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
    <script src="~/js/project-create.js"></script>
}



