@model ProgrammeringAPL.Models.ViewModels.ProjectEditViewModel

@{
    ViewData["Title"] = "Edit";
}




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Visar valideringsfel som uppstår i formuläret -->
            <input type="hidden" asp-for="Id" /><!-- Dolt fält för att skicka projektets ID så att servern kan identifiera vilket projekt som ska uppdateras -->



            @* Radar upp information om projektet med input för att ändra fältet  *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label><!-- Label för titel fältet -->
                <input asp-for="Title" class="form-control" /> <!-- Inmatningsfält för projektets titel -->
                <span asp-validation-for="Title" class="text-danger"></span> <!-- Visar eventuella valideringsfel för fältet -->
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectUrl" class="control-label"></label>
                <input asp-for="ProjectUrl" class="form-control" />
                <span asp-validation-for="ProjectUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RepositoryUrl" class="control-label"></label>
                <input asp-for="RepositoryUrl" class="form-control" />
                <span asp-validation-for="RepositoryUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DemoUrl" class="control-label"></label>
                <input asp-for="DemoUrl" class="form-control" />
                <span asp-validation-for="DemoUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" type="date" readonly />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" type="date" readonly />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>

            <!-- Formulärknapp för att spara ändringarna -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Länkar för att återgå till andra sidor *@
<div>
    <a class="button"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
