

.carousel-container {
    padding: 10%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000000;
    border-radius: 10px;
}

.carousel {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    height: 200px; 
}

.carousel-item {
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

    .carousel-item img {
        width: 200px;
        height: auto;
        border-radius: 8px;
        cursor: pointer;
        display: block;
        margin: auto;
        transition: transform 0.3s;
    }

    .carousel-item.left {
        left: 0%;
        transform: translateX(0%);
        opacity: 0.6;
    }

    .carousel-item.middle {
        left: 50%;
        transform: translateX(-50%) scale(1.2);
        opacity: 1;
        z-index: 2;
    }

    .carousel-item.right {
        left: 100%;
        transform: translateX(-100%);
        opacity: 0.6;
    }

    .carousel-item.hidden {
        opacity: 0;
    }

    .carousel-item.focused img {
        transform: scale(1.2);
    }

    .carousel-item.middle {
        z-index: 2;
    }

    .carousel-item.left,
    .carousel-item.right {
        z-index: 1;
    }


.container {
    background-color: #000000;
}

footer div.container {
    background-color: #111;
}