

body {
    background-color: #121212 !important;
    color: #E0E0E0 !important;
}

header {
    background-color: #1F1F1F !important;
    color: #FFFFFF !important;
    border-bottom: 1px solid #333 !important;
}

nav {
    background-color: #1F1F1F !important;
    border-bottom: 1px solid #333 !important;
}

.navbara li a {
    color: #BB86FC !important;
}

    .navbara li a:hover {
        background-color: #333333 !important;
        color: #FFFFFF !important;
    }

section {
    background-color: #1E1E1E;
}

    section h2 {
        color: #FFFFFF !important;
        border-bottom: 2px solid #BB86FC !important;
    }

h1, h2 {
    color: #FFFFFF !important;
}

a {
    color: #BB86FC !important;
}

    a.button {
        color: #FFFFFF !important;
        background-color: #BB86FC !important;
    }

a.button:hover {
    background-color: #9A67EA;
}

button {
    background-color: #BB86FC;
    color: #FFFFFF;
}

.btn-danger {
    background-color: #121212;
    color: #dc3545;
}

.btn-success {
    background-color: #00bf7d;
    color: #FFFFFF;
}

.btn-outline-secondary {
    color: #BB86FC;
    border-color: #BB86FC;
}

.btn-outline-secondary:hover {
    background-color: #BB86FC;
    color: #1F1F1F;
    border-color: #BB86FC;
}


.btn-outline-danger {
    color: #CF6679;
    border-color: #CF6679;
}

.btn-outline-danger:hover {
    background-color: #CF6679;
    color: #1F1F1F;
    border-color: #CF6679;
}


.btn-primary {
    background-color: #BB86FC;
    border-color: #BB86FC;
}

.btn-primary:hover {
    background-color: #9C4CCC;
    border-color: #9C4CCC;
}

footer {
    background-color: #1F1F1F !important;
    color: #FFFFFF !important;
    border-top: 1px solid #333 !important;
}

footer p {
    color: #666666;
}

dt {
    color: purple;
}


div.card {
    background-color: #1F1F1F !important;
    color: #E0E0E0 !important;
    border: 1px solid #333333;
}


.card-title {
    color: #FFFFFF !important;
}


.card-text {
    color: #E0E0E0 !important;
}


form label {

color: #BB86FC !important;

}

form input,
form textarea {
border: 1px solid #333333;
background-color: #2C2C2C !important;
color: #E0E0E0;

}

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form textarea:focus {
        border-color: #BB86FC !important;
    }

    form input[type="submit"] {
        background-color: #BB86FC !important;
        color: #FFFFFF !important;
    }

form input[type="submit"]:hover {
    background-color: #9A67EA;
}





.custom-file-upload {
    background-color: #3994eb !important;
    color: white;
}



.custom-file-upload:hover {
    background-color: #a260d4;
}



#theme-toggle .iconify {
    color: white !important;
}


::-webkit-scrollbar-track {
    background: #1F1F1F;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

