
body {
    background-color: #121212 !important;
    color: #E0E0E0 !important;
    margin: 0;
    padding: 0;
}


header {
    background-color: #1F1F1F;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    border-bottom: none;
}

nav {
    background-color: #1F1F1F;
    border-bottom: 1px solid #333;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
}

.navbar li a {
    display: block;
    padding: 15px 25px;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
    background-color: #333333;
    color: #FFFFFF;
}

#login-register-nav {
    display: flex;
    position: absolute; 
    right: 0; 
    top: 0; 
    margin: 0;
    margin-right: 20px; 
    align-items: center; 
}

a {
    color: #BB86FC;
    text-decoration: none;
}


button {
    padding: 12px 25px;
    max-width: 200px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #BB86FC;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    display: block;
}

.btn-danger {
    background-color: #121212;
    color: #dc3545;
    border: 1px solid;
    border-color: #dc3545;
}

.btn-success {
    margin: 50px auto;
    background-color: #00bf7d;
    font-size: 1.2em;
    width: 150px;

}

a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    font-weight: 700;
    background-color: #BB86FC;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 50px;
}

a.button:hover {
    background-color: #9A67EA;
}

footer {
    background-color: #1F1F1F;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}

footer p {
    color: #666666;
    margin: 0;
    font-size: 0.9em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:hover {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #1F1F1F;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}


@media (max-width: 768px) {
    .navbar li a {
        padding: 15px 15px;
    }

    #login-register-nav {
        flex-direction: column;
        font-size: 0.7em;
    }

    header h1 {
        font-size: 2em;
    }

    section {
        margin: 20px 10px;
        padding: 30px 15px;
    }

    #todo input[type="text"] {
        width: calc(100% - 110px);
    }
}
