@import url('todo.css');
@import url('carousel-style.css');
@import url('forms.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin: 30px auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    color: white;
    padding: 10px 0; 
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    border-bottom: none;
}

h1, h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.navbara {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbara li {
    margin: 0;
}

.navbara li a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
    color: #333; 
}

table {
    color:white;
}

.toggle-container {
    margin-left: auto; 
}

.toggle-container button{
    margin: 0 auto;
}

#theme-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

#theme-toggle .iconify {
    color: black;
}


#theme-toggle:hover .iconify {
    color: #ccc;
}

#login-register-nav {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-right: 20px;
    align-items: center;
}

section {
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 800px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

section h2 {
    color: #333; 
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #333; 
    padding-bottom: 10px;
}



a {
    color: #007bff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 50px;
    color: #fff; 
    background-color: #007bff; 
}

a.button:hover {
    background-color: #0056b3;
}

button {
    margin: 10px 0;
    padding: 12px 25px;
    max-width: 200px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    display: block;
    background-color: #007bff;
    color: #fff; 
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
}

.btn-success {
    margin: 50px auto;
    background-color: #28a745; 
    color: #fff;
    font-size: 1.2em;
    width: 150px;
}

.btn-outline-secondary {
    color: #007bff; 
    border-color: #007bff;
}

.btn-outline-secondary:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}


.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

footer {
    background-color: #f0f0f0; 
    color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

dl {
    margin: 20px auto;
    max-width: 70%;
    text-align: left;
}

dt {
    font-weight: 700;
    font-size: 1.2em;
    color: purple;
}

ul {
    list-style-type: none;
}

.container {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.container input[type="submit"] {
    min-width: 150px;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
}


.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}


label {
    display: block;
}


.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #333; 
}


.card-img-top {
    height: 350px;
    object-fit: cover;
}


.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #ffffff; 
    color: #333; 
    border: 1px solid #ccc; 
}


.card-title {
    color: #333; 
}

#presentation {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:hover {
    width: 15px;
}

@media (max-width: 600px) {
    header {
        font-size: 18px;
    }

    section {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .navbar li a {
        padding: 15px 15px;
    }

    #login-register-nav {
        flex-direction: column;
        font-size: 0.7em;
    }

    header h1 {
        font-size: 2em;
    }

    section {
        margin: 20px 10px;
        padding: 30px 15px;
    }
}


