<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgrammeringAPL</title>
    <!-- Dina egna stilar 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProgrammeringAPL.styles.css" asp-append-version="true" />
    -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/dark-mode.css" />
    <link rel="stylesheet" href="~/css/forms.css" />
</head>
<body>
    <header>
        <h1>Välkommen till min sida!</h1>
    </header>

    <nav>
        <ul class="navbar">
            <li><a href="/">Hem</a></li>
            <li><a href="/Contact">Kontakt</a></li>
            <li><a href="/ToDoItems">ToDo</a></li>
            <li><a href="/Projects">Projects</a></li>
        </ul>
        <partial name="_LoginPartial" />
    </nav>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProgrammeringAPL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
