<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgrammeringAPL</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/dark-mode.css" id="dark-mode-style" disabled />
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>
<body>
    <header>
        <h1>Andreas Sida</h1>
    </header>

    <nav>
        <ul class="navbara">
            <li><a href="/">Hem</a></li>
            <li><a href="/Contact">Kontakt</a></li>
            <li><a href="/ToDoItems">ToDo</a></li>
            <li><a href="/Books">Books</a></li>
            <li><a href="/Projects">Projects</a></li>
            <partial name="_LoginPartial" />
            <li class="toggle-container">
                <button id="theme-toggle">
                    <span class="iconify" data-icon="mdi:weather-sunny"></span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2024 - ProgrammeringAPL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
